@import '../styles_reuse/Variables.scss';

.achievement-box{
    margin: 5rem 0rem 5rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 23rem));
    grid-gap: 5rem;
    justify-content: center;

     @media only screen and (max-width: 38em){
        grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
        grid-row-gap: 4rem;
    }

    &:hover >*:not(:hover){
        transform: scale(.9);
    }

    &:hover >*:hover{
        transform: scale(1.06);
        position: relative;



        // &::after{
        //     content: '';
        //     border: .3rem solid var(--home-primary-color-dark);
        //     transform: scale(1.1);
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: 0%;
        //     left: 0%;
        //     border-radius: 1rem;
        // }
    }

    

    .box{   
        background-color: transparent;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        color: var(--home-secondary-color-dark);
        cursor: pointer;
        transition: all .3s;
        border-radius: 1rem;
        position: relative;
        z-index: 3;
        filter: drop-shadow(.1rem .1rem .4rem rgba(#000, .2));

        @media only screen and (max-width: 38em){
            height: 15rem;     
            
        }
        &:nth-child(odd):not(:first-child)::after{
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-image: $gradient-5;        
            border-top-left-radius: 5rem;
            border-bottom-left-radius: 5rem;  
            
        }
        &:nth-child(odd):not(:first-child)::before{
            content: '';
            position: absolute;
            top: -20%;
            right: 0%;
            z-index: 1;
            width: 90%;
            height: 100%;
            background-color: var(--home-primary-color-light);
            clip-path: polygon(0% 0%, 20% 0%, 100% 20%, 100% 100%, 0% 100% ); 
            border-top-left-radius: 20%;    
        }
        &:nth-child(even)::after{
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-image: $gradient-1;
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;  
        }

        &:nth-child(even)::before{
            content: '';
            position: absolute;
            top: 20%;
            left: 0%;
            z-index: 1;
            width: 90%;
            height: 100%;
            background-color: var(--home-primary-color-light);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 75% 100%, 0% 80% );
            border-bottom-right-radius: 25%;
        }
        &:nth-child(1)::after{
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-image: $gradient-3;      
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;  
            
        }
        &:nth-child(1)::before{
            content: '';
            position: absolute;
            top: -20%;
            left: 0%;
            z-index: 1;
            width: 90%;
            height: 100%;
            background-color: var(--home-primary-color-light);
            clip-path: polygon(0% 20%, 80% 0%, 100% 0%, 100% 100%, 0% 100% ); 
            border-top-right-radius: 20%;    
        }
        .icon{
            color: var(--home-secondary-color-dark);
            width: 5rem;
            height: 5rem;
            animation: upanddown 2s cubic-bezier(1,1,1,1) infinite backwards;
            position: relative;
            z-index: 3;
            @media only screen and (max-width: 38em){
                width: 2.5rem;
                height: 2.5rem;
            }
        }

         .icon-2{
                animation-delay: .5s;
            }
            .icon-3{
                animation-delay: 1s;
            }

        h2{
            font-size: 3rem;
            font-weight: bolder;
            position: relative;
            z-index: 3;
            @media only screen and (max-width: 38em){
                font-size: 2rem;    
                
            }
        }

        .text{
            text-transform: capitalize;
            position: relative;
            font-weight: bold;
            z-index: 3; 
            color: #ffffff;
            @media only screen and (max-width: 38em){
                font-size: 1.3rem;    
                
            }
        }
    }

    .box-2{
        margin-top: .2rem;
    }
    .box-3{
        margin-top: .4rem;
        @media only screen and (max-width: 21em){
            margin-top: 4rem; 
        }
    }
}

@keyframes upanddown{
    0%{
        transform: translateY(-15%);
    }
    50%{
        transform: translateY(15%);
    }
    100%{
        transform: translateY(-15%);
    }
}