@import '../styles_reuse/Variables.scss';

.experience_section{
    margin-bottom: $mb-md;
    margin-top: $mt-md;
    display: flex;
    flex-direction: column;
    background-image: $gradient-6;   
    padding: 1rem 0rem 2rem 0rem;
    border-radius: 1rem;   

    .title{
        align-self: center;
        font-size: 3rem;
        margin-bottom: 2.5rem;
        padding-bottom: .6rem;
        color: var(--home-secondary-color-dark);
        border-bottom: .4rem solid currentColor;
        text-transform: capitalize;
        display: inline-block;
        // @media only screen and (max-width: 38em){
        //     font-size: 2rem;    
            
        // }
    }
    
    .info-box{
        display: flex;

        .title-info-box{
            flex: 0 0 30%;

            @media only screen and (max-width: 38em){
                flex: 0 0 20%;
        }

            .title-list{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;
                list-style: none;
                color: #ffffff;
                font-size: 2rem;
                text-transform: capitalize;
                @media only screen and (max-width: 38em){
                    font-size: 1.5rem;
            }


                &:hover >*:hover{
                    transform: translateY(-.2rem);
                }
            }
            .title-item{
                padding: 1rem .5rem ;
                margin-bottom: 1rem;
                width: 18rem;
                text-align: center;
                cursor: pointer;
                transition: all .3s;

                @media only screen and (max-width: 38em){
                    width: 12rem;
            }
            }
            .active{
                background-color: var(--home-secondary-color-dark);
                position: relative;
                clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);

                &::after{
                    content: '';
                position: absolute;
                top: 0%;
                right: 0%;
                width: 2rem;
                height: 100%;
                margin-right: .4rem;
                background-color: currentColor;
                clip-path: polygon(0% 20%, 90% 50%, 0% 80%);
                animation: moveforward 1.5s cubic-bezier(1,0,0,1) 1 both;
                }

                &::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    width: .7rem;
                    height: 85%;
                    transform: translateY(-50%);
                    margin-left: .4rem;
                    background-color: var(--home-primary-color-light);
                }
            }
         }
         .actual-info-box{
             flex: 1;
             margin-top: 1rem;
             display: flex;
             flex-direction: column;
             color: #ffffff;

             .detail-title{
                 margin-bottom: 2rem;
                 font-size: 3rem;
                 color: var(--home-secondary-color-dark);
                 text-transform: capitalize;
                 word-spacing: 1rem;
                 @media only screen and (max-width: 38em){
                    font-size: 2rem;    
                    
                }
             }   

             .detail-title-2{
              font-size: 2rem;
              font-weight: bold;
              margin-bottom: 1.8rem;
              text-transform: capitalize;
              border: .2rem solid var(--home-secondary-color-dark);
              align-self: flex-start;
              padding: .6rem 1.4rem;
              border-radius: 1rem;
              @media only screen and (max-width: 38em){
                font-size: 1.4rem;
                padding: .6rem 1.1rem;
        }
             }

             .detail-date{
                 margin-bottom: 1.8rem;
                 font-weight: bold;
                 text-transform: capitalize;
                 word-spacing: 1rem;
                 letter-spacing: .3rem;
             }

             .detail-list{
                 list-style: none;

                 & >*:not(:last-child){
                  margin-bottom: 1.4rem;
                 }

                 .detail-item{
                     display: flex;
                     align-items: center;
                     font-size: 1.6rem;

                        @media only screen and (max-width: 38em){
                font-size: 1.4rem;
        }
                     

                    .detail-icon{
                        color: var(--home-primary-color-dark);
                        margin-right: .5rem;
                        width: 2rem;
                        height: 2rem;

                        @media only screen and (max-width: 38em){
                            width: 1rem;
                            height: 1rem;
                    }
                    }
                 }
             }
         }
    }

    
}

@keyframes moveforward {
    0%{
        transform: translateX(-100%) scale(.6);
        opacity: 1;
    }
    90%{
        opacity: .7;
    }
    100%{
        transform: translateX(500%) scale(.6);
        opacity: 0;
    }
}


// Logs:              https://app.netlify.com/sites/zuri-task-cv/deploys/611eb2dad0a46e4a7d790b3d
// Website Draft URL: https://611eb2dad0a46e4a7d790b3d--zuri-task-cv.netlify.app