@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,800&display=swap");
:root {
  --home-primary-color-light: #73f3ed;
  --home-primary-color-dark: #3aafa9;
  --home-secondary-color-light: #204755 ;
  --home-secondary-color-dark: #17252a;
}

.project-section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-image: linear-gradient(135deg, var(--home-primary-color-dark) 0%, var(--home-primary-color-dark) 25%, var(--home-primary-color-light) 50%, var(--home-secondary-color-light) 80%, var(--home-secondary-color-dark) 100%);
  border-radius: 1rem;
}
.project-section .title {
  align-self: center;
  padding-bottom: 0.4rem;
  color: var(--home-secondary-color-dark);
  border-bottom: 0.4rem solid currentColor;
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 4rem;
}
.project-section .project_view-left {
  display: flex;
  min-height: 30vw;
  position: relative;
  margin-bottom: 12rem;
}
.project-section .project_view-left .img-view {
  position: relative;
  height: 100%;
  flex: 0 0 70%;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4), -0.1rem -0.1rem 0.4rem rgba(0, 0, 0, 0.4);
}
.project-section .project_view-left .img-view .image-view {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 7rem;
  transform: translateX(-50%) translateY(100%);
  width: 3rem;
  background-color: var(--home-secondary-color-dark);
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-left .img-view .image-view {
    height: 5rem;
    width: 2rem;
  }
}
.project-section .project_view-left .img-view .image-view::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 2.7rem;
  width: 20rem;
  background-color: var(--home-secondary-color-dark);
  transform: translateX(-50%);
  border-radius: 0.3rem;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-left .img-view .image-view::after {
    height: 2rem;
    width: 15rem;
  }
}
.project-section .project_view-left .img-view .img-box {
  height: 100%;
  width: 100%;
}
.project-section .project_view-left .img-view .img-box .img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 1rem;
}
.project-section .project_view-left .info-view {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
  flex: 0 0 60%;
  min-height: 50%;
  align-self: center;
  margin-bottom: 0.5rem;
  transform: translateX(-50%);
  background-image: linear-gradient(360deg, var(--home-secondary-color-dark) 0%, var(--home-secondary-color-dark) 25%, var(--home-secondary-color-light) 50%, var(--home-primary-color-light) 80%, var(--home-primary-color-dark) 100%);
  border-radius: 1rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  color: #ffffff;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-left .info-view {
    padding: 1rem;
  }
}
.project-section .project_view-left .info-view .title {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  align-self: center;
  color: var(--home-secondary-color-dark);
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-left .info-view .title {
    font-size: 1.7rem;
    font-weight: bold;
  }
}
.project-section .project_view-left .info-view .text {
  font-size: 1.5rem;
  word-spacing: 0.5rem;
  line-height: 2vw;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-left .info-view .text {
    font-size: 1.3rem;
    word-spacing: unset;
    line-height: unset;
  }
}
.project-section .project_view-left .info-view .info-link {
  background-color: var(--home-primary-color-dark);
  align-self: flex-start;
  margin-top: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-left .info-view .info-link {
    padding: 0.7rem;
  }
}
.project-section .project_view-left .info-view .info-link:hover {
  transform: translateX(-0.3rem) translateY(-0.2rem);
}
.project-section .project_view-left .info-view .info-link .btn {
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-left .info-view .info-link .btn {
    font-weight: unset;
    font-style: 1.2rem;
  }
}
.project-section .project_view-left .info-view .info-link .info-icon {
  margin-right: 1rem;
  order: -1;
  transform: scale(1.3);
  cursor: pointer;
}
.project-section .project_view-right {
  display: flex;
  height: 35vw;
  position: relative;
  margin-bottom: 12rem;
}
.project-section .project_view-right .img-view {
  height: 100%;
  flex: 0 0 70%;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4), -0.1rem -0.1rem 0.4rem rgba(0, 0, 0, 0.4);
  transform: translateX(-43%);
  order: 1;
  position: relative;
}
.project-section .project_view-right .img-view .image-view {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 7rem;
  transform: translateX(-50%) translateY(100%);
  width: 3rem;
  background-color: var(--home-secondary-color-dark);
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-right .img-view .image-view {
    height: 5rem;
    width: 2rem;
  }
}
.project-section .project_view-right .img-view .image-view::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 2.7rem;
  width: 20rem;
  background-color: var(--home-secondary-color-dark);
  transform: translateX(-50%);
  border-radius: 0.3rem;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-right .img-view .image-view::after {
    height: 2rem;
    width: 15rem;
  }
}
.project-section .project_view-right .img-view .img-box {
  height: 100%;
  width: 100%;
}
.project-section .project_view-right .img-view .img-box .img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 1rem;
}
.project-section .project_view-right .info-view {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
  flex: 0 0 60%;
  min-height: 50%;
  margin-bottom: 0.5rem;
  align-self: center;
  transform: translateX(0%);
  background-image: linear-gradient(360deg, var(--home-secondary-color-dark) 0%, var(--home-secondary-color-dark) 25%, var(--home-secondary-color-light) 50%, var(--home-primary-color-light) 80%, var(--home-primary-color-dark) 100%);
  border-radius: 1rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  color: #ffffff;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-right .info-view {
    padding: 1rem;
  }
}
.project-section .project_view-right .info-view .title {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  align-self: center;
  color: var(--home-secondary-color-dark);
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-right .info-view .title {
    font-size: 1.7rem;
    font-weight: bold;
  }
}
.project-section .project_view-right .info-view .text {
  font-size: 1.5rem;
  word-spacing: 0.5rem;
  line-height: 2vw;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-right .info-view .text {
    font-size: 1.3rem;
    word-spacing: unset;
    line-height: unset;
  }
}
.project-section .project_view-right .info-view .info-link {
  background-color: var(--home-primary-color-dark);
  align-self: flex-end;
  margin-top: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
}
@media only screen and (max-width: 38em) {
  .project-section .project_view-right .info-view .info-link {
    padding: 0.7rem;
  }
}
.project-section .project_view-right .info-view .info-link:hover {
  transform: translateX(0.3rem) translateY(-0.2rem);
}
.project-section .project_view-right .info-view .info-link .btn {
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.project-section .project_view-right .info-view .info-link .info-icon {
  margin-left: 1rem;
  transform: scale(1.3);
  cursor: pointer;
}
.project-section .project-all-btn {
  align-self: center;
  background-color: var(--home-primary-color-dark);
  color: #ffffff;
  padding: 1.3rem 4rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
@media only screen and (max-width: 38em) {
  .project-section .project-all-btn {
    padding: 1rem 2.5rem;
  }
}
.project-section .project-all-btn:hover {
  transform: translateY(-0.3rem);
}
.project-section .project-all-btn p {
  margin-right: 1rem;
  word-spacing: 0.3rem;
}

.project-page {
  grid-column: full-start/full-end;
  padding-top: 5rem;
  background-color: var(--home-primary-color-dark);
}

@media only screen and (max-width: 44em) {
  .real-project {
    padding-top: 8rem;
  }
}/*# sourceMappingURL=Project.css.map */